/** CSS STYLE **/
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
* Цвета текста
*/

.text-white {
  color: #fff;
}

/* или primary, но конкретно в данном случае текст кажется акцентным */
.text-accent {
  color: #fe8a02;
}

.text-dark {
  color: #2a2626;
}

.text-dark-translucent {
  color: #908d8b;
}

.text-blue {
  color: #1085c5;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/**
* ФОновые цвета
*/

.bg-light {
  background-color: #f5f4f0;
}

.bg-brown {
  background-color: #b09a81;
}

.bg-dark {
  background-color: #42413c;
}

/**
* Заголовки
*/

.title {
  position: relative;

  margin: 0;

  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/**
* Кнопки
*/

.btn {
  display: inline-block;
  padding: 11px 24px;

  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  background: #fe8a02;

  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background: #ea7600;
}

/**
* Отступы
*/

.mt-36 {
  margin-top: 36px;
}

.mt-38 {
  margin-top: 38px;
}

.mb-36 {
  margin-bottom: 36px;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;

  /* в дизайне только одна секция по центру выравнена, а в "Основные параметры лендинга" есть это значение */
  text-align: center;
}

.bg::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  content: "";
}

.text-block > .col {
  flex: 1 1 50%;
}

.text-block .col:first-child {
  margin-right: 30px;
}

/* Стили для хедера */

header {
  position: relative;
}

header .container {
  padding-top: 121px;
}

header img {
  position: absolute;

  top: 55px;
  right: -270px;

  width: auto;
  height: 525px;
}

header .title {
  margin-bottom: 225px;
}

.section-2 {
  padding-bottom: 369px;
}

.video {
  position: absolute;

  right: 0;
  left: 0;

  margin: auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-3 .container {
  padding-top: 200px;
}

.section-3 .h2 {
  font-size: 52px;
}

.card {
  position: relative;

  /* в описание отступ 24px, но в дизайне отступ снизу 38px */
  padding: 24px;
}

.card:hover {
  color: #fff;

  background: #fe8a02;

  transition: background 0.2s ease-in-out;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  color: #fff;
}

.card a::after {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  content: "";
}

.card .title {
  margin-bottom: 4px;
}

.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.nav > * {
  flex: 0 0 350px;

  margin-bottom: 20px;
}
