/** CSS STYLE **/
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

input {
  border: 0;
  outline: none;
}

/**
* Цвета текста
*/

.text-white {
  color: #fff;
}

/* или primary, но конкретно в данном случае текст кажется акцентным */
.text-primary {
  color: #fe8a02;
}

.text-primary-dark {
  color: #42413c;
}

.text-dark {
  color: #2a2626;
}

.text-dark-translucent {
  color: #908d8b;
}

.text-blue {
  color: #1085c5;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/**
* ФОновые цвета
*/

.bg-light {
  background-color: #f5f4f0;
}

.bg-brown {
  background-color: #b09a81;
}

.bg-dark {
  background-color: #42413c;
}

.bg-white {
  background-color: #fff;
}

.box-shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/**
* Заголовки
*/

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4 {
  position: relative;

  margin: 0;

  font-weight: normal;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 14px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/**
* Кнопки
*/

.btn {
  position: relative;

  display: inline-block;
  padding: 11px 24px;

  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  background: #fe8a02;

  border: 0;

  cursor: pointer;

  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background: #ea7600;
}

/**
* Отступы
*/

.mt-36 {
  margin-top: 36px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-36 {
  margin-bottom: 36px;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;

  /* в дизайне только одна секция по центру выравнена, а в "Основные параметры лендинга" есть это значение */
  text-align: center;
}

.bg {
  position: relative;
}

.bg::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

  content: "";
}

.row > .col {
  flex: 1 1 50%;
}

.row .col:first-child {
  margin-right: 30px;
}

.row .img {
  width: 540px;
  height: 405px;
}

/* Стили для хедера */

.header .container {
  padding-top: 121px;
}

.header img {
  position: absolute;

  top: 55px;
  right: -270px;

  width: auto;
  height: 525px;
}

.header .h1 {
  margin-bottom: 225px;
}

.section-2 {
  padding-bottom: 369px;
}

.video {
  position: absolute;

  right: 0;
  left: 0;

  margin: auto;
}

.section-3 .container {
  padding-top: 200px;
}

.section-3 .h2 {
  font-size: 52px;
}

.card {
  position: relative;

  /* в описание отступ 24px, но в дизайне отступ снизу 38px */
  padding: 24px;
}

.card:hover {
  color: #fff;

  background: #fe8a02;

  transition: background 0.2s ease-in-out;
}

.card a {
  text-decoration: none;
}

.card a:hover {
  color: #fff;
}

.card a::after {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  content: "";
}

.card .title {
  margin-bottom: 4px;
}

.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.nav > * {
  flex: 0 0 350px;

  margin-bottom: 20px;
}

.separator {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 4px 8px;
}

.footer .h2 {
  font-size: 36px;
}

.subscribe {
  padding: 40px 75px 40px 50px;
}

.subscribe .h5 {
  font-size: 18px;
  text-transform: none;
}

.subscribe p {
  font-size: 12px;
  line-height: 1.6em;
}

.subscribe .btn {
  flex: 0 0 70px;
  height: 50px;
}

.subscribe .btn::before {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;

  content: '';
}

.input {
  width: 100%;
  height: 50px;
  padding: 15px;

  font-size: 18px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}


.feedback p {
  margin-bottom: 16px;

  color: #000;
  font-size: 14px;
}

.feedback p:last-child {
  margin-bottom: 0;
}
